<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="vue.js">
        
    </script>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Cadastro de Hardware/Software</h1>
                <form action="#" method="post" @submit.prevent="salvar()">
                    <label for="codigo">Código:</label>
                    <input type="number" class="form-control mb-2" v-model="codigo">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control mb-2"v-model="nome">
                    <label for="tipo">Tipo:</label>
                    <input type="text" class="form-control mb-2" v-model="tipo">
                    <label for="marca">Marca:</label>
                    <input type="text" class="form-control mb-2" v-model="marca">
                    <label for="lancamento">Data de Lançamento:</label>
                    <input type="date" class="form-control mb-2" v-model="lancamento">
                    <label for="imagem">Imagem(insira link):</label>
                    <input type="text" class="form-control mb-2" v-model="imagem">

                    <div v-if="verificar()">
                        <button class="btn btn-primary">Salvar</button>
                    </div>
                    <div v-else>
                        <button class="btn btn-primary" disabled>Salvar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h1>Lista de Itens Cadastrados</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Data de Lançamento</th>
                            <th>Alterar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(it, posicao) in listaIT">
                            <td>{{ it.imagem }}</td>
                            <td>{{ it.codigo }}</td>
                            <td>{{ it.nome }}</td>
                            <td>{{ it.tipo }}</td>
                            <td>{{ it.marca }}</td>
                            <td>{{ it.lancamento }}</td>
                            <td>
                                <a href="#" class="btn btn-warning" @click="alterar(posicao)">Alterar</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        class IT {
            constructor(codigo, nome, marca, lancamento, imagem, tipo) {
                this.codigo = codigo
                this.nome = nome
                this.marca = marca
                this.lancamento = lancamento   
                this.imagem = imagem
                this.tipo = tipo
            }
        }
        let app = new Vue({
            el: '#app',
            data: {
                codigo: '',
                nome: '',
                marca: '',
                lancamento: '',
                imagem: '',
                tipo: '',
                listaIT: [],

            },
            methods: {
                salvar: function() {
                    let it = new IT(this.codigo, this.nome, this.marca, this.lancamento, this.imagem, this.tipo)
                    this.listaIT.push(it)
                    this.limpar()
                },
                verificar: function() {
                    return this.codigo != '' && this.nome != '' && this.marca != '' && this.lancamento != '' && this.imagem != '' && this.tipo != ''
                },
                limpar: function() {
                    this.codigo = ''
                    this.nome = ''
                    this.marca= ''
                    this.lancamento = ''
                    this.imagem = ''
                    this.tipo = ''
                },
                alterar: function(posicao) {
                    this.codigo = this.listaIT[posicao].codigo
                    this.nome = this.listaIT[posicao].nome
                    this.marca = this.listaIT[posicao].marca
                    this.lancamento = this.listaIT[posicao].lancamento
                    this.imagem = this.listaIT[posicao].imagem
                    this.tipo = this.listaIT[posicao].tipo
                }
            }
        })
    </script>
</body>
</html>